.hourly--container {
    border-radius: 25px;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    
    color: #ffffff;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  