.hourly-card {            
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5mm 2mm;
    margin-top: 3mm;
    outline: 2px solid white;
    height: 35mm;
    border-radius: 10px;
    background-color: #869dcc;
  }

.hourly-when {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .hourly-hour {
        font-weight: 700;
        font-size: 7mm;
    }

    .hourly-date {
        font-size: 6mm;
    }
}


.hourly-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 10mm;
    font-weight: bold;
}

.hourly-feels-like {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .temp { 
        align-self: center;
        font-size: 5mm;
    }

    .description { 
        align-self: center;
        font-size: 3mm;
    }
}

.hourly-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.hourly-precipitation {
    display: flex;
    flex-direction: column;
    justify-content: center;


}